# {{APP_NAME_TITLE}}

{{APP_NAME_TITLE}} package.

## Installation

```bash
poetry install
```

## Usage

```python
from {{APP_NAME_SNAKE}} import hello

print(hello())
```

## Testing

```bash
poetry run pytest
```
