[submodule "__SPECS__/mta-v500"]
	path = __SPECS__/mta-v500
	url = git@github.com:thinkeloquent/mta-v500.git
[submodule "__SPECS__/mta-SPECS"]
	path = __SPECS__/mta-SPECS
	url = git@github.com:thinkeloquent/mta-SPECS.git
